# TARGET config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_TARGET_ROOTFS_CPIOGZ=n

# Image Options
CONFIG_TARGET_ROOTFS_PARTSIZE=1024

# Compile Optimization
CONFIG_USE_APK=n
CONFIG_DEVEL=n
CONFIG_CCACHE=y
CONFIG_AUTOREMOVE=y
CONFIG_AUTOREBUILD=n
CONFIG_BUILDBOT=n
CONFIG_IB=n
CONFIG_SDK=n
CONFIG_MAKE_TOOLCHAIN=n
CONFIG_PKG_BUILD_PARALLEL=y
CONFIG_PKG_CHECK_FORMAT_SECURITY=n

# Language Toolchain Optimization
CONFIG_GOLANG_EXTERNAL_BOOTSTRAP_ROOT="/usr/lib/go"
CONFIG_RUST_EXTERNAL_BOOTSTRAP=y
CONFIG_RUBY_EXTERNAL_BOOTSTRAP=y

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=n

# Proto
CONFIG_PACKAGE_luci-proto-wireguard=y

# Kernel modules
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
# network support
CONFIG_PACKAGE_kmod-e1000=y
CONFIG_PACKAGE_kmod-e1000e=y
CONFIG_PACKAGE_kmod-r8169=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y

# Package
CONFIG_PACKAGE_unblockmusic=y
CONFIG_PACKAGE_open-vm-tools=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_ping=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_traceroute=y
CONFIG_PACKAGE_curl=y

# iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y

# Theme
CONFIG_PACKAGE_luci-theme-orion=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-iperf3=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-qos=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openclash=y